* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background: lightblue;
}

.start-screen {
    text-align: center;
    padding: 20px;
}

.start-btn {
    background:  rgb(54, 119, 147);
    color: white;
    width: 200px;
    border: 0;
    padding: 15px;
    margin: 30px auto;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s;
}

.text-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.result-text {
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
}

.app{
    background: white;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1{
    font-size: 25px;
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 30px;
}

.quiz{
    padding: 20px 0;
}

.quiz h2{
    font-size: 18px;
}

.btn{
    background: white;
    color: black;
    width: 100%;
    border: 1px solid grey;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]){
    background: rgb(162, 177, 183);
    color: white;
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    background: rgb(54, 119, 147);
    color: white;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 10px;
    cursor: pointer;
    display: none;
}

#submit-text{
    background: rgb(54, 119, 147);
    color: white;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    text-align: center;
}

.correct {
    background: rgb(151, 222, 151);
}

.incorrect {
    background: rgb(228, 118, 118);
}
